/*------------------ font-style ------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*--------------- commone style or untilite --------------*/
body{
    font-family: 'Poppins', sans-serif;;
    margin: 0;
}
/*------------------- header style-------------------------- */
.header-container{
   
}
.title-banner{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(20, 20, 199);
}
.header-title{
    font-size: 2.40em;
    color: #FFFFFF;
    width: 440px;
    height: 230px;
    margin-top: 60px;
    margin-left: 35px;
    margin-right: 52px;
   
   
}
.banner img{
    width: 556px;
    height: 438px;
    margin-left: 53px;
    margin-top: 40px;
    margin-bottom: 50px;
}
 /*------------------------ header style end ---------------------------*/
/*--------------------- Top players style start ---------------------- */
/*---------------------- top-player-section-start-------------------- */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    margin-top: 70px;
}
.top-players{
    width: 330px;
    height: 456px;
}
.players{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player{
    padding-top: 15px;
    padding-left: 15px;
    background-color: #FFFFFF;
}
.player img{
    width: 300px;
    height: 256px;
}
.player-info h2{
    width: 300px;
    height: 40px;
    font-weight: bold;
    font-size: 28px;
    color: #18191F;
    margin: 10px 0;
}
.player-info p{
    width: 300px;
    height: 104px;
    font-size: 16px;
    color: #6C6C6C;
}
/*---------------------- top-player-section-end---------------------- */
/* ----------------------top-player-style-end----------------------- */

/* -----------------------Footer style start-------------------------- */
.logo img{
     width: 483px;
     height: 110px;
     margin-top: 126px;
}
.fonts{
        display: flex;
    flex-direction: column;
    align-items: center;
 }
.font-awesome{
    display: flex;
    margin-top: 20px;
}
.fab{
    width: 32px;
    height: 32px;
    text-align: center;
}
.copy-right-text{
    color:  #000000;
    text-align: center;
    margin-top: 20px;
}